{% extends "layout.jinja2" %}

{% block title %}
	{{ entries|length }} Entries
{% endblock %}

{% block body %}
	{% if entries %}
		<h1>Journal Entries:</h1>
		<ul>
		{% for entry in entries %}
			<li>Entry #{{ entry.id }}:
				<a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title }}</a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		No entries in journal.
	{% endif %}
{% endblock %}