{% extends "layout.jinja2" %}

{% block title%}
	Some Entries
{% endblock %}

{% block body %}
	{% if entries %}
		<h1>Journal Entries:</h1>
		<ul>
		{% for entry in entries %}
			<li>{{ entries.id }}
				<a href="{{ request.route_url('detail', id=entry.id) }}">{{ entry.title|lower }}</a>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		No entries in journal.
	{% endif %}
{% endblock %}